.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

.images {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 5px; 
}
.pfp {
    object-fit: cover;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 5px; 
    border-radius: 50%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 25px;
    background-color: #E5E7EB;
    gap: 10px; 
}

.navlinks {
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        border: hidden;
        background-color: #2eca8b;
        margin-left: 0.1px;
        margin-right: 8px;
}

.navbar .rightside {
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

.rightside {
    display: flex;
    align-items: center;
}

.navbar .leftside {
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

.leftside {
    display: flex;
    align-items: center;
}

.navbar .leftside img .pfp {
    width: 15px;
    height: 10px;
}

.navbar .rightside span {
    margin-right: 10px;
    
}

.navbar .rightside span .homebtn {
    color: #000;
    background: #000;
    position: relative;
}

.navbar .rightside span .navlinks {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    margin: auto 10px;
}

.navbar .rightside .no-of-products {
    background: #2563EB;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    position: absolute;
    top: -4px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* products */

h1 {
    padding: 30px;
    border-bottom: 1px solid #e4e4e4;
}

@media(max-width: 768px) {
    h1 {
        text-align: center;
        padding: 10px;
    }
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.products-container .product-card {
    width: 300px;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    box-shadow: 5px 5px 4px #e4e4e4;
    position: relative;
}

.products-container .product-card .product-img {
    width: 100%;
    height: 200px;
}

.products-container .product-card .product-img img {
    width: 100%;
    height: 100%;
}

.products-container .product-card .product-name {
    display: block;
    width: 100%;
    color: #f57224;
    margin-top: 5px;
}

.products-container .product-card .product-price {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.products-container .product-card .addcart-btn {
    background-color: #34eb52;
    color: #fff;
    border: hidden;
    cursor: pointer;
    width: 100%;
    padding: 10px 14px;
    margin-top: 5px;
    margin-bottom: 2px;
    outline: none;
}

/* cart summary */
.cart-summary {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid #e4e4e4;
    width: 300px;
}

.cart-summary .cart-summary-heading {
    border-bottom: 1px solid #f57224;
}

.cart-summary .cart-summary-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cashout-link {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

/* cashout */
.success-msg {
    background-color: green;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}

.success-msg .home-link {
    color: #fff;
}



.product-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
  }
  
  .product-img1 {
    grid-area: img;
    float: left;
    width:  500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
  }
  
   .product-name1 {
    grid-area: name;
    font-size: 50px; /* Adjust font size as needed */
    margin-top: 5px; /* Add spacing between image and name */
    font-weight: bold; /* Optional: Make the name bold */
  }

  .products-container1 {
    display: grid;
    grid-template-areas:
      'name name name name name name'
      'img img img right right right'
      'img img img price price btn';
    gap: 10px;
    
    padding: 10px;
  }
  
  .products-container1 > div {
    
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .product-price1 {
    grid-area: price;
    font-size: 50px; /* Adjust font size as needed */
    margin-bottom: auto;
    margin-top: auto; /* Add spacing between image and name */
    font-weight: bold; /* Optional: Make the name bold */
    justify-content: center;
  }
  .products-container1 .addcart-btn1 {
    grid-area: btn;
    background-color: #34eb52;
    color: #fff;
    border: hidden;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 10px 14px;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    border-radius: 5%;
    justify-content: center;

}